* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.texto-b {
  color: #4caf50;
}

.background-nav {
  background-color: #e0ffff;
}

#background-nav1 {
  background-image: linear-gradient(45deg, #1c1c1c, #595959);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-size {
  width: 28px;
  height: 28px;
}

.icon-size2{
  width: 50px;
  height: 50px;
}

.background {
	background: linear-gradient(-45deg,#f8a9ff, #a8e8ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.card0 {
  background-image: url("https://i.pinimg.com/736x/5f/a7/cd/5fa7cd2853d5273898c9f6b43fe4df34.jpg");
}



.feature-icon{  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
    background-image: linear-gradient(45deg,#66a3ff,#9999ff)
}

#cor-inicio{
 border-style: outset;
 color:#80ffaa;
  border-color:#00b33c;
  background-color: #999999;
   transition-duration: 0.3s;
}

#cor-inicio:hover{
  border-style: inset;
  color:#00b33c;
  background-color:#b3b3b3;
   transition-duration: 0.3s;
}


